<!--Footer Section-->
    <footer class="footer" id="footer">
      <div class="footer-container container grid">
        <ul class="footer-links">
          <li>
            <a href="" class="footer-link">About</a>
          </li>
          <li>
            <a href="" class="footer-link">Services</a>
          </li>
          <li>
            <a href="" class="footer-link">Projects</a>
          </li>
        </ul>
        <span class="footer-copy-info">
          Copyright &#169; <%= new Date().getFullYear() %> <a href="">ZionDev.</a> All Rights Reserved
        </span>
      </div>
    </footer>

    <a href="#" class="scrollup" id="scroll-up">
      <i class="ri-arrow-up-s-line"></i>
    </a>

    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/scrollup.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>